body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f3e5ab;
}
h1 {
    color: #333;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.level-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.level-button:hover {
    background-color: #0056b3;
}

.level-button.locked {
    background-color: #cccccc;
    cursor: not-allowed;
}

#tombol-reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#tombol-menu {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tombol-reset:hover {
    background-color: #e41e1c;
}

#tombol-reset:active {
    background-color: #d01817;
}


