*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3e5ab;
    ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    color: #000000;
}
.profile-info {
    margin-bottom: 20px;
}
.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.profile-info p {
    font-size: 18px;
    margin: 5px 0;
}
.sosmed{
    border: solid 1px rgb(0, 0, 0);
    padding: 25px;
    border-radius: 15px;
    width: 300px;
}
.sosmed h1{
    color: #000000;
    font-size: 20px;
    padding: 15px;
}
.icon{
    border: solid 1px rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}
.icon a {
    color: #6a6a6a;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
.icon a:hover{
    color: #000000;
}
